<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appKey</key>
	<string>8a3771f25a3de39807fc489afda022c3</string>
	<key>appSecret</key>
	<string>SIyAmgYBL3r2RN5d4NIEqkfTXF8v4fY1KWf+1qHubes1Y+U2pqQQ5w6jglmbaP8eVrMOAvLujnPwUKGLdEpCOi5dA2Ce8eOJpxXZ1L/PtFsKcJmEE+g/XJvyrg9lKfq3I4g91OKTMb21rN6um+X29DyeE0N6GDJ7JrQJcqwmafo=</string>
</dict>
</plist>
